:root{
  --primary: #00A7E1;
  --accent: #5c34ce;
  --secondary: #001220;
  --secondary-light: rgba(0, 18, 32, 0.6);
  --secondary-alt: #002746;
  --bg: #001220;
  --text: #FFFFFF;
  --text-alt: #000000;
  --grey: rgba(255, 255, 255, 0.5);
  --grey-alt: rgba(204, 204, 204, 0.1);
  --white: #FFFFFF;
  --black: #000000;
  --green: rgb(0, 207, 0);
  --red: rgb(255, 0, 0);
  --logosize: 2.1875em
}

/* body[data-theme="light"]{
  --primary: #00A7E1;
  --accent: #5c34ce;
  --secondary: #F1F2F3;
  --bg: #F1F2F3;
  --text: #000000;;
  --text-alt: #FFFFFF;
  --grey: #6a6a6a;
  --white: #FFFFFF;
  --black: #000000;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-size: 1rem; */
}

/* CSS Debuger */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
/* CSS Debuger */

body{
  background-color: var(--bg);
  color: var(--text);
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col{
  flex-direction: column;
}

.gap-05{
  gap: 0.5em;
}

.gap-1{
  gap: 1em;
}

.webTitle{
  background: linear-gradient(50deg, 
  var(--primary) 0%, var(--accent) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* font-size: inherit; */
  margin-top: 0.1em;
  /* color: var(--secondary); */
}

.Content-main{
  display: flex;
  transition: 1s ease-in-out;
}

.Outlet{
  overflow: hidden;
}

@media (min-width: 751px){
  .Outlet{
    /* margin-left: 30%; */
    width: 70%;
  }
}
  
@media (max-width: 750px){
  .Outlet{
    width: 100%;
  }

  .Content-main.Sidebar-Active .Sidebar-Main{
    width: 100% !important;
  }

  .Outlet.Sidebar-Active{
    width: 0% !important;
  }

  .Toastify__toast-container{
    width: 100% !important;
    margin: 1em 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Toastify__toast{
    width: 90%;
  }
}

/* Smaller Devices below 360px */
@media (max-width: 500px){
  *{
    font-size: 0.9rem;
  }

  .webTitle{
    /* font-size: 1.25em; */
    margin-top: 0.1em;
  }
}

/* Devices below 400px */
/* @media (max-width: 400px){
  *{
    font-size: 0.9rem;
  }

  .webTitle{
    font-size: 1.25em;
    margin-top: 0.2em;
  }
} */

.Logout-Modal{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.Logout-Card{
  background-color: var(--secondary-alt);
  justify-content: space-evenly;
  padding: 1em 2em;
  border-radius: 0.4em;
  min-height: 10em;
  gap: 1em;
  z-index: 4;
  letter-spacing: 1.5px;
}

.Logout-Buttons{
  gap: 3em;
}

.Logout-Buttons button{
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.Logout-Buttons .logout{
  background-color: red;
  color: var(--text);
  transition: 0.2s ease-in-out;
}

.Logout-Buttons .logout:hover{
  background-color: #fff;
  color: red;
}

/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-alt);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* Disable blue button click highlight */
input, button, a, div {
  -webkit-tap-highlight-color: transparent;
}

/* PWA Install Btn */
.PWAContainer{
  justify-content: space-between;
  gap: 2em;
  color: var(--white);
}

.PWAContainer .PWABtn{
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1em;
  padding: 0.2em 0.6em;
  gap: 0.5em;
  border-radius: 0.4em;
  cursor: pointer;
}