.Sidebar-Main{
    /* position: fixed; */
    width: 30%;
    height: 100vh;
    overflow: hidden !important;
    background-color: var(--secondary);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: 0 0 1px 0 var(--primary);
    /* box-shadow: 0 0 1px 0 rgba(0, 169, 225, 0.5); */
    z-index: 2;
}

.Sidebar-header{
    width: 100%;
    padding: 0.5em 1em;
    justify-content: space-between;
}

.Sidebar-header>a {
    text-decoration: none;
}

.Sidebar-header>a img{
    margin-top: -0.4em;
    margin-right: -0.1em;
}

.Sidebar-Title{
    width: 100%;
    padding: 0.5em 0;
    justify-content: space-between;
}

.Sidebar-Options{
    color: var(--grey);
    padding: 0.3em;
    /* border-radius: 0.4em; */
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.Sidebar-Options:hover{
    /* background-color: rgba(255, 255, 255, 1); */
    color: var(--primary);
}

.Sidebar-avatar{
    cursor: pointer;
    width: 80px !important;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--grey);
}

.Sidebar-avatar > svg{
    width: 100%;
}

.Sidebar-search{
    width: 100%;
    background-color: var(--secondary);
    padding: 0.5em 0;
    gap: 1em;
    justify-content: space-between;
}

.Sidebar-input{
    background-color: var(--secondary-alt);
    padding: 0.2em 1em;
    border-radius: 0.4em;
    width: 100%;
    justify-content: space-between;
}

.Sidebar-input input{
    background-color: var(--secondary-alt);
    color: var(--white);
    border: none;
    outline: none;
    padding: 0 2em;
    width: 100%;
}

.Sidebar-input input::placeholder{
    color: var(--grey);
}

.Sidebar-search > svg{
    cursor: pointer;
}

.Sidebar-Refresh{
    color: var(--grey);
    cursor: pointer;
}

.Sidebar-Refresh:hover{
    color: var(--primary);
}

.Sidebar-Refresh .SyncActive{
    transition: 0.4s ease-in-out;
    rotate: 360deg;
}

.Sidebar-ChatlistContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Sidebar-chatList{
    height: 100%;
    overflow-y: auto;
    /* padding-bottom: 8em; */
}

.Sidebar-chatList>p{
    width: 100%;
    text-align: center;
    color: var(--grey);
    margin-top: 3em;
}

.Sidebar-chatItem{
    text-decoration: none;
}

.Sidebar-Loader{
    animation: fade 1.5s infinite;
    height: 80%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.Sidebar-Nav{
    background-color: var(--secondary-alt);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    margin: 1em;
    gap: 1em;
    border-radius: 0.4em;
    width: 95%;
}

.Sidebar-UserInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.Sidebar-UserInfo h3{
    padding: 0.1em 0.2em;
}

.Sidebar-UserInfo p{
    font-size: 0.7em;
    color: var(--grey);
    cursor: pointer;
    border-radius: 0.3em;
    padding: 0.1em 0.2em;
    transition: 0.3s ease-in-out;
}

.Sidebar-UserInfo p:hover{
    background-color: var(--grey);
}

.Sidebar-Logout{
    gap: 0.5em;
    padding: 0.3em;
    border-radius: 0.2em;
    background-color: var(--secondary);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.Sidebar-Logout:hover{
    background-color: red;
}

::-webkit-scrollbar {
    width: 15px;
  }

/* Mobile Responsive CSS */
@media (max-width: 750px){
    .Sidebar-Main{
        width: 0 !important;
    }

    .Sidebar-Title{
        padding: 0.5em 0;
        padding-bottom: 0.8em;
    }

    .Sidebar-input input{
        padding: 0.3em 1em;
        font-size: 1em;
    }

}