.ChatBox-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: var(--secondary-alt);
    position: relative;
    overflow: hidden !important;
}

.ChatBox-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 1em;
    background-color: var(--secondary);
    width: 100%;
    /* position: static; */
    /* top: 0; */
    z-index: 1;
}

.ChatBox-avatar{
    background-color: var(--grey);
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.ChatBox-avatar > svg{
    width: 100%;
}

.ChatBox-info>span{
    font-size: 1em;
    letter-spacing: 1px;
}

.ChatBox-info>p{
    font-size: 0.8em;
    color: var(--grey);
}

.ChatBox-BackBtn{
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.ChatBox-BackBtn:hover{
    background-color: var(--secondary-alt);
}

.ChatBox-userInfo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: 0 1em 0 0.5em;
    cursor: pointer;
}

/* .ChatBox-options{
    position: relative;
} */

.ChatBox-options .btn{
    padding: 0.5em;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.ChatBox-options .btn:hover{
    background-color: var(--secondary-alt);
}

.ChatBox-DeleteMenuHolder{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
}

.ChatBox-DeleteMenu{
    position: absolute;
    top: 4.5em;
    right: 1em;
    border-radius: 0.4em;
    /* gap: 0.5em; */
    background-color: var(--secondary-alt);
    cursor: pointer;
}

.ChatBox-DeleteMenu div{
    padding: 0.5em 1em;
    width: 100%;
    justify-content: space-evenly;
}

.ChatBox-DeleteMenu div:hover{
    background-color: var(--secondary-light);
}

.ChatBox-DeleteMenu .delete{
    color: var(--red);
    font-weight: 900;
}

.ChatBox-bodyContainer{
    display: flex;
    justify-content: flex-end;
}

.ChatBox-body{
    background-color: var(--secondary-alt);
    height: 80%;
    width: 100%;
    flex-direction: column;
    gap: 0.6em;
    padding: 1em;
    padding-right: 0;
    position: absolute;
    /* bottom: 0; */
    overflow-y: scroll !important;
}

.ChatBox-Loader{
    /* infinite fade animation */
    animation: fade 1.5s infinite;
    height: 70%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.ChatBox-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.ChatBox-emojiPicker {
    position: relative;
    bottom: 0;
    /* top: -23em !important; */
    /* left: 2em !important; */
    width: 100%;
    /* padding: 0 2em; */
    margin-bottom: 1em;
}

/* EmojiPicker Custom Css */
.epr-category-nav{
    display: none !important;
}

.ChatBox-MsgBlob{
    width: 100%;
    margin: 0.5em 0;
    /* background-color: #fff; */
}

.ChatBox-MsgBlob.selfMsg{
    display: flex;
    justify-content: flex-end;
}

.ChatBox-MsgBlob.extMsg{
    display: flex;
    justify-content: flex-start;
}

.ChatBox-MsgBlob .blob{
    background-color: var(--primary);
    min-width: 5em;
    padding: 0.3em 0.6em;
    border-radius: 0.4em;
    align-items: flex-end;
    gap: 0.5em;
}

.ChatBox-MsgBlob.extMsg .blob{
    background-color: var(--secondary-light);
}

.ChatBox-MsgBlob .blob p{
    overflow: hidden;
    word-wrap: break-word;
    width: 100%;
    max-width: 20em;
}

.ChatBox-MsgBlob .blob span{
    min-width: 5em;
    font-size: 0.6em;
    justify-self: start;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: -0.4em;
    margin-right: -0.9em;
}

.ChatBox-typer{
    background-color: var(--secondary);
    padding: 1em;
    gap: 1em;
}

.ChatBox-typer svg{
    cursor: pointer;
}

.ChatBox-input{
    padding: 0.5em 0.6em;
    background-color: var(--secondary-alt);
    width: 100%;
    border-radius: 0.4em;
}

.ChatBox-input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    color: var(--text);
    font-size: 1em;
    padding: 0 0.5em;
}

.ChatBox-typer button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 750px){
    .ChatBox-MsgBlob .blob p{
        max-width: 14em;
    }

    .ChatBox-input input{
        padding: 0.4em;
    }

}