.Chatlist-Main{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    padding: 0 0.5em;
    gap: 1em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.Chatlist-Main:hover{
    background-color: var(--secondary-alt);
}

.Chatlist-avatar{
    margin-left: 0.5em;
    width: 55px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--grey);
}

.Chatlist-avatar > svg{
    width: 100%;
}

/* .Chatlist-avatar img{
    border-radius: 100%;
} */

.Chatlist-info{
    border-bottom: 1px solid var(--grey-alt);
    width: 100%;
    padding: 0.6em;
    gap: 0.5em;
    overflow: hidden;
}

.Chatlist-userinfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
}

.Chatlist-userinfo>span{
    width: 100%;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.Chatlist-userinfo>p{
    color: var(--grey);
    font-size: 0.8em;
    width: fit-content;
}

.Chatlist-prevMsg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0.4em 0;
    position: relative;
}

.Chatlist-prevMsg span{
    font-size: 0.8em;
    color: var(--grey);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
}   

.Chatlist-opt{
    /* background: radial-gradient(circle, var(--secondary-alt) 50%, transparent 100%); */
    position: absolute;
    right: -1em;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.Chatlist-Main:hover .Chatlist-opt{
    right: 0;
    opacity: 1;
}

@media (max-width: 750px){
    .Chatlist-Main:hover{
        background-color: var(--secondary);
    }

    .Chatlist-Main:hover .Chatlist-opt{
        opacity: 0;
    }
    
    .Chatlist-info{
    padding: 0.8em 0.6em;
    }
}